body {
  background-color: firebrick ;
  padding: 20px;
  margin: 0;
  font-size: 15px;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: black;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: darkgrey;
}